name: CICD
on: [push]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.2'
          
      - name: set up env var
        run:  echo "TAG=$(echo git describe --exact-match --tags $(git log -n1 --pretty='%h'))" >> $GITHUB_ENV
      - name: Check env var
        run: echo ${{ env.TAG }}
    
      - name: Build for Linux_arm7
        run: env GOOS=linux GOARCH=arm GOARM=7 go build -o release_arm7/go-nexmosphere

      - name: Zip release_arm7_{{ env.TAG }}.zip
        if: startsWith(github.ref, 'refs/tags/')
        run: zip release_arm7_{{ env.TAG }} release_arm7/go-nexmosphere
      
      - name: Send Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: elgohr/Github-Release-Action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          title: MyReleaseMessage
        
